[user]
	email = swiggers.tom@gmail.com
	name = Tom Swiggers
[push]
	default = simple
[alias]
    l = log --graph --pretty=format:'%Cred%h%Creset \t %Cgreen(%ci) -%C(yellow)%d%Creset %s %C(bold blue)<%an>%Creset' --abbrev-commit --date=iso
    recent = "!r() { cur=$(git rev-parse --abbrev-ref HEAD); git for-each-ref --sort=-committerdate refs/remotes/origin --format='%(color:bold green)%(committerdate:format:%Y-%m-%d %T)|%(color:yellow)%(refname:short)|%(color:bold green)%(subject)|%(color:magenta)%(authorname)%(color:reset)' | sed \"s/m${cur}|/m* ${cur}|/\" | column -ts'|'; }; r"
    recent-inuits = "!r() { cur=$(git rev-parse --abbrev-ref HEAD); git for-each-ref --sort=-committerdate refs/remotes/inuits --format='%(color:bold green)%(committerdate:format:%Y-%m-%d %T)|%(color:yellow)%(refname:short)|%(color:bold green)%(subject)|%(color:magenta)%(authorname)%(color:reset)' | sed \"s/m${cur}|/m* ${cur}|/\" | column -ts'|'; }; r"
